@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira_sans/firasans-book.eot?1408878462');
  src: url('../fonts/fira_sans/firasans-book.eot?&1408878462#iefix') format('embedded-opentype'), url('../fonts/fira_sans/firasans-book.woff?1408878462') format('woff'), url('../fonts/fira_sans/firasans-book.ttf?1408878462') format('truetype');
}
@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira_sans/firasans-bold.eot?1408878462');
  src: url('../fonts/fira_sans/firasans-bold.eot?&1408878462#iefix') format('embedded-opentype'), url('../fonts/fira_sans/firasans-bold.woff?1408878462') format('woff'), url('../fonts/fira_sans/firasans-bold.ttf?1408878462') format('truetype');
  font-weight: true;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.standard-layout {
  margin: 0 auto;
  max-width: 960px;
}

body {
  font-family: "Fira Sans", "Droid Arabic Naskh", "Mplus Fulah", sans-serif;
}

.site-header {
  text-align: center;
}
.site-header:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 900px) {
  .site-header {
    text-align: left;
  }
}
@media (min-width: 900px) {
  .site-header .logo {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.site-header .logo img {
  height: 117px;
  width: 101px;
}
.site-header .site-name {
  font-size: 300%;
  font-weight: bold;
}
@media (min-width: 900px) {
  .site-header .site-name {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 17.02128%;
    clear: none;
    margin-top: 70px;
  }
}
.site-header .site-name a {
  color: black;
  text-decoration: none;
}
