// Font face configuration.

// font-face helper seems to be broken in Compass 1.0.0-alpha.19.
// So that's why we are doing it the ugly way here.

@font-face {
    font-family: 'Fira Sans';
    src: font-url('fira_sans/firasans-book.eot');
    src: font-url('fira_sans/firasans-book.eot?#iefix') format('embedded-opentype'),
         font-url('fira_sans/firasans-book.woff') format('woff'),
         font-url('fira_sans/firasans-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: font-url('fira_sans/firasans-bold.eot');
    src: font-url('fira_sans/firasans-bold.eot?#iefix') format('embedded-opentype'),
         font-url('fira_sans/firasans-bold.woff') format('woff'),
         font-url('fira_sans/firasans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
