$fira-stack: "Fira Sans", "Droid Arabic Naskh", "Mplus Fulah", sans-serif;

// Responsive breakpoints:
$bkpt-1: 500px;
$bkpt-2: 700px;
$bkpt-3: 900px;

// Singularity.gs grid configuration.
@include add-grid(3);
@include add-grid(6 at $bkpt-1);
@include add-grid(9 at $bkpt-2);
@include add-grid(12 at $bkpt-3);

@include add-gutter(1/3);
