*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fira_sans/firasans-book.eot?1413464673') format("embedded-opentype");
  src: url('../fonts/fira_sans/firasans-book.eot?1413464673#iefix') format("embedded-opentype"), url('../fonts/fira_sans/firasans-book.woff?1413464673') format("woff"), url('../fonts/fira_sans/firasans-book.ttf?1413464673') format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/fira_sans/firasans-bold.eot?1413464673') format("embedded-opentype");
  src: url('../fonts/fira_sans/firasans-bold.eot?1413464673#iefix') format("embedded-opentype"), url('../fonts/fira_sans/firasans-bold.woff?1413464673') format("woff"), url('../fonts/fira_sans/firasans-bold.ttf?1413464673') format("truetype");
}
