////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

@import "compass/css3";
@import "compass/typography";
@import 'form';
@import 'fuur_crew';
@import 'news';
@import 'node';

body {
  background-color: $white;
  color: $black;
  font-family: $fira-stack;
  font-size: 14px;
}

a {
  @include link-colors($zug-blue, shade($zug-blue, 33%));
  text-decoration: none;
}

.site-template-header {
  background-color: shade($zug-blue, 10%);
  color: $white;
  padding: 0.5rem 0 0;
  text-align: center;

  @include breakpoint($bkpt-2) {
    text-align: left;
  }

  a {
    @include link-colors($white, tint($zug-blue, 77%));
  }

  #logo {
    @include breakpoint($bkpt-2) {
      @include grid-span(2, 1);
    }

    @include breakpoint($bkpt-3) {
      @include grid-span(2, 1);
    }

    img {
      max-width: 100px;
    }
  }

  #site-name {
    font-size: 2rem;
    margin: 0;

    @include breakpoint($bkpt-2) {
      @include grid-span(6, 3);

      font-size: 3rem;
      margin-top: 3rem;
    }

    @include breakpoint($bkpt-3) {
      @include grid-span(8, 3);
    }
  }

  .menu {
    @include no-bullets;

    margin: 0;
    padding: 0.5rem 0 0;

    li {
      display: inline-block;
    }

    a {
      @include border-top-radius(0.5rem);

      background-color: shade($zug-blue, 33%);
      color: $white;
      display: inline-block;
      padding: 0.5rem 0.7rem 0.2rem;

      a {
        color: $white;
      }

      &:hover {
        background-color: tint($zug-blue, 15%);
      }

      &.active-trail {
        background-color: $white;
        color: $black;
        cursor: default;

        a {
          color: $black;
        }
      }
    }
  }
}

.site-template-subnav {
  .menu {
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-left: 1.5em;

      &:first-child {
        list-style-type: none;
        margin-left: 0;
      }
    }

    a {
      border-bottom: 3px solid $white;
      display: inline-block;
      padding: 5px 0 0;

      &:hover {
        border-bottom-color: $zug-blue;
      }

      &.active-trail {
        border-bottom-color: $black;
      }
    }
  }
}

ul.tabs {
  @include no-bullets;

  $tab-bg: hsl($zug-hue, 10%, 85%);
  $tab-border: hsl($zug-hue, 10%, 75%);

  border-bottom: 1px solid $tab-border;
  font-size: 12px;
  margin: 0.5rem 0;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    @include border-top-radius(0.5rem);

    background-color: $tab-bg;
    border: 1px solid $tab-border;
    display: inline-block;
    margin-bottom: -1px;
    padding: 0.2rem 0.5rem 0;

    &:hover {
      background-color: hsl($zug-hue, 10%, 90%);
    }

    &.active {
      background-color: $white;
      border-bottom-color: $white;
    }
  }
}

ul.pager {
  @include inline-block-list;
  font-weight: bold;
  margin-bottom: 1rem;

  a {
    padding: 5px 10px 2px;

    &:hover {
      background-color: lighten($zug-blue, 45%);
      color: $zug-blue;
    }
  }

  .pager-current {
    background-color: $zug-blue;
    color: $white;
    padding: 1px 10px 2px;
  }
}

.fuur-sponsor-list {
  @include no-bullets;

  margin: 0;
  padding: 0;
  text-align: center;
}

.site-template-footer {
  background-color: shade($zug-blue, 10%);
  color: tint($zug-blue, 85%);
  font-size: 0.75rem;
  padding: 0.5rem 0 0;

  a {
    @include link-colors($white, tint($zug-blue, 77%));
  }
}
