////////////////////////
// Design Partials
//
// Design implementation fuur crew list.
////////////////////////

.fuur-crew-profiles {
  .first-name,
  .last-name {
    font-weight: bold;
  }

  .rank,
  .title {
    font-size: 0.75rem;
  }

  .title {
    color: $medium-grey;
  }
}

.fuur-crew-public-profile-list {
  @include clearfix();
  @include no-bullets();
  padding: 0;

  li {
    // To account for long titles, etc.
    min-height: 305px;

    @include breakpoint($bkpt-2) {
      @include float-span(2);
    }

    @include breakpoint($bkpt-3) {
      @include float-span(3);
    }
  }

  .portrait {
    background-image: image-url('portrait-placeholder.png');
    height: 221px;
    width: 166px;

    margin-bottom: 0.5rem;
  }
}
