////////////////////////
// Styling for news.
////////////////////////

.pane-fuur-news-list-news-by-category-pane .pane-title {
  margin-bottom: 5px;
}

.fuur-news-list {
  @include no-bullets;
  margin-top: 0;
  padding: 0;

  > li {
    margin-bottom: 5px;
  }

  .title {
    margin: 0;
  }

  .post-category a {
    @include border-radius(3px);

    background-color: rgba($zug-blue, 0.7);
    color: $white;
    display: inline-block;
    font-weight: bold;
    padding: 3px 5px 0;
  }

  .post-date {
    // Add top padding to match the one on .post-category, so they line up
    // properly.
    display: inline-block;
    padding-top: 3px;
  }
}
