////////////////////////
// Design Partials
//
// Design implementation for nodes.
////////////////////////

.node {
  .links {
    @include no-bullets;
    @include inline-block-list;
  }
}

.node-fuur-incident {
  .field-name-fuur-incident-location,
  .field-name-fuur-incident-datetime {
    display: inline;
  }
}

.view-fuur-front-page-teasers {
  .node {
    border-bottom: 1px solid $border-grey;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
