////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

body {
  background-color: $white;
  color: $black;
  font-family: $fira-stack;
  font-size: 14px;
}

.site-template-header {
  color: $white;
  background-color: shade($zug-blue, 10%);
}

#site-name a {
  color: $white;
  text-decoration: none;
}
