////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

@import "compass/typography/links/link-colors";

body {
  background-color: $white;
  color: $black;
  font-family: $fira-stack;
  font-size: 14px;
}

a {
  @include link-colors($zug-blue, shade($zug-blue, 33%));
  text-decoration: none;
}

.site-template-header {
  background-color: shade($zug-blue, 10%);
  color: $white;
  padding: 0.5rem 0;
  text-align: center;

  @include breakpoint($bkpt-2) {
    text-align: left;
  }

  a {
    @include link-colors($white, tint($zug-blue, 77%));
  }

  #logo {
    @include breakpoint($bkpt-2) {
      @include grid-span(2, 1);
    }

    @include breakpoint($bkpt-3) {
      @include grid-span(2, 1);
    }

    img {
      max-width: 100px;
    }
  }

  #site-name {
    font-size: 2rem;
    margin: 0;

    @include breakpoint($bkpt-2) {
      @include grid-span(6, 3);

      font-size: 3rem;
      margin-top: 3rem;
    }

    @include breakpoint($bkpt-3) {
      @include grid-span(8, 3);
    }
  }
}
